---
const { template } = Astro.props
const { title, description, hero } = template.frontmatter
---

<article>
  <a href={template.url}>
    <img src={hero} alt="Voorbeeld van de template." />
    <h3>{title}</h3>
    <span class="descrition">{description}</span>
  </a>
</article>

<style lang="postcss">
  article {
    background-color: var(--primary-light);
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    a {
      display: block;
      height: 100%;
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
</style>
