---
type Props = {}

const {} = Astro.props
---

<header>
  <a href="/">
    <h1>Nivr templatess</h1>
  </a>
</header>

<style lang="postcss">
  header {
    background-color: var(--primary-light);
    padding: 1rem;
    box-shadow: 0 4px 4px -4px rgba(24,23,26, 0.2);

    h1 {
      font-family: 'Allison', serif;
      font-weight: lighter;
      text-align: center;
    }
  }

</style>
